<h1>Start a Party</h1>

<div class='row'>
	<div class='small-12 medium-6 small-centered columns'>
		<%= simple_form_for @event do |f| %>
			<%= f.input :title, label: false, placeholder: 'Title' %>
			<%= f.association :location, label: false, placeholder: 'Location' %>
			<%= link_to 'Add new location', new_location_path %>
			<%= f.input :theme, label: false, placeholder: 'Theme' %>
			<%= f.input :when, label: false, placeholder: 'When'%>
			<%= f.input :rsvp_min, label: false, placeholder: 'Min RSVPs'%>
			<%= f.input :rsvp_max, label: false, placeholder: 'Max RSVPs'%>
			<%= f.submit %>
	<% end %>
	</div>
</div>